*{
    margin: 0px;
    font-family: Tahoma;
}

.cabecalho{
    /* display flex e justify content center usado para centralizar as DIVS e o flex direction para dizer que é uma coluna */
    background-color: #afddfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:30px;
    padding-bottom: 30px;
}

.cabecalho img{
    width: 150px;
}

.cabecalho table{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.cabecalho table a{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cabecalho a{
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: solid 2px #1d1d1d;
    text-decoration: none;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:30px;
    padding-bottom: 30px;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:30px;
    padding-bottom: 30px;
}

.sobre h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}

.sobre img{
    width: 450px;
}

.sobre span{
    color: #1d80c1;
}

.sobre h2{
    color: #1c81c0;
}

.servicos{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:30px;
    padding-bottom: 30px;
    background-color: #1d80c1;
}

.servicos h2{
    font-size: 28px;
    line-height: 42px;
}

.servicos p{
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    width: 700px;
}

.texto-amarelo{
    color: #fff81b;

}

.servicos ul{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 135px;
}

.servicos ul li{
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

.corretores{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:30px;
        padding-bottom: 30px;

}

.corretores h2{
    font-size: 28px;
    line-height: 42px;
    color: #1c81c0;
    padding-bottom: 20px;
}

.corretores img{
    width: 450px;
}

.corretores span{
    color: #1d80c1;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:30px;
    padding-bottom: 30px;
    background-color: #1d80c1;
    color: #ffffff;

}

.contato h2{
    font-size: 28px;
    line-height: 42px;
    padding-bottom: 20px;
}

.contato iframe{
    width: 800px;
    height: 350px;
}
.contato p{
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contato p span{
    color: #fff81b;
    font-weight: bold;
}

.contato ul{
    margin-bottom: 40px;
    margin-top: 40px;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    width: 210px;

}

.contato ul li{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.contato ul li a{
    background-color: #ffffff;
    color: #1d80c1;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

p{
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    width: 980px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

span {
    font-weight: bold;
}



